%h1 Current announcements

%table#main-table
  %tr
    %th Title
    %th Author
    %th Category
    %th Replies
    %th Done
    %th
    %th
    %th

  - @announcements.each do |announcement|
    %tr{ :class => ('mine-row' if current_user == announcement.user) }
      %td= link_to announcement.title, announcement
      %td= announcement.user.email
      %td= announcement.category.name
      %td= announcement.replies.count
      %td
        -if announcement.done?
          Yup
        -else
          Nope
      %td
        %a.preview-link{ :name => announcement.id } Preview
      %td
        -if current_user == announcement.user
          =link_to 'Edit', edit_announcement_path(announcement)
      %td
        -if current_user == announcement.user
          =link_to 'Destroy', announcement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Announcement', new_announcement_path
