%h1 New announcement

= form_for @announcement, url: announcements_path, html: {method: :post} do |f|
  - if @announcement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@announcement.errors.count, "error")} prohibited this announcement from being saved:"
      %ul
        - @announcement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :category
    = f.collection_select :category_id, @categories, :id, :name
  .actions
    = f.submit 'Save'


= link_to 'Back', announcements_path
