%p#notice= notice

%p
  %b Title:
  = @announcement.title
%p
  %b Content:
  = @announcement.content
%p
  %b Category:
  = @announcement.category.name
%p
  %b Author:
  = @announcement.user.email
%p
  %h1 Replies:
  - for reply in @announcement.replies
    %p
      %b= reply.user.email
      %b (
      %b= reply.created_at
      %b ):
      = reply.content

= render 'reply'

= link_to 'Edit', edit_announcement_path(@announcement)
\|
= link_to 'Back', announcements_path
