%p#notice= notice

%p
  %b Title:
  = @announcement.title
%p
  %b Content:
  = @announcement.content
%p
  %b Category:
  = @announcement.category.name
%p
  %b Author:
  = @announcement.user.email
%p
  %h1 Replies:
  - for reply in @announcement.replies
    %p
      %b= "%s (%s)" % [reply.user.email, reply.created_at]
      %br
      = reply.content
      -if current_user == reply.user
        %br
        =link_to 'Edit', edit_admin_reply_path(reply)
        =link_to 'Destroy', admin_reply_path, :method => :delete, :data => { :confirm => 'Are you sure?' }

= render 'reply'

= link_to 'Edit', edit_announcement_path(@announcement)
\|
= link_to 'Back', announcements_path
