<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'Vox populi', announcements_path%></h1>
<h2><%= link_to 'Admin panel', admin_path%></h2>
<% if user_signed_in? %>
	<li> Logged as <%= current_user.email %> </li>
	<li> <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
<% else %>
	<li> <%= link_to 'Login', new_user_session_path %> </li>
<% end %>

<% if flash[:alert] %>
	<h3>Alert: <%= flash[:alert] %></h3>
<% end %>

<%= yield %>

</body>
</html>
